/* our style */
body{
    background: url("/included_files/WoW-Legion-Zonen-und-Dungeons-2.jpg") fixed;
    background-size: auto;
}
h1,h2,h3,h4{
    color: #00AA00;

}
.btn-success{
    background-color: #3c763d;
    border-color: #2b542c;
}
.list-group-item {
    color: #ffffff;
    background-color: #345634;
    border: 1px solid #3d5d3d;
}
/*
#test123{
    background-color: #00AA00;
}*/

a.list-group-item {
    color: #ffffff;
    background-color: #345634;
    border: 1px solid #3d5d3d;
}

ul.list-group a:hover {
    background-color: #597d59;
    border: 1px solid #6c916c;
}
.form-control{
    background-color: #5cb85c;
    border: 1px solid #6c916c;
}




.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}
.hero-img {
    //text-align: center;
    float: right;
}

.tooltip {
       position: relative;
    }
.tooltip span {
         margin-left: -999em;
         position: absolute;
     }
.tooltip img {
         width: 15%;
     }

.tooltip:hover span {
         font-family: Calibri, Tahoma, Geneva, sans-serif;
         position: absolute;
         left: 5em;
         z-index: 99;
         margin-left: 0;
         width: 250px;
     }
.classic { background: #FFFFAA; border: 1px solid #FFAD33; }

/* everywhere else */
* {
    font-family: 'Orbitron', sans-serif;
}
